.select{
    list-style: none;
    margin: 0;
    width: 100%;
    min-height: 38px;
    background: #f5f5f5;
    padding: 4px 10px;
    background-color: #f5f5f5;
    border-radius: 0;
    border: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    cursor: pointer;

}
.selectedItem{
    display: inline-block;
    background-color: #e4e4e4;
    border-radius: 0;
    cursor: default;
    margin: 5px 5px 0 0;
    padding: 0 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 14px;
    border: none;
    color:grey;
}
/* .selectionList{
    position: absolute;
    border: 1px solid black;
    width: 5em;
} */
.selectionContainer{
    position:absolute;
    width: 45%;
    left: 20%;
    background-color: white;
    padding: 2em 1em 1em 1em;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
.selection{
    position:relative;
    border-bottom: 1px solid rgb(196, 196, 196);;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: grey;
    font-size: 14px;


}
.hide{
    display:none;
}
.selectionCheck{
    float: right;
    cursor: pointer;
}
.selectionTitle{
    font-weight: bold;
    margin-bottom: 2em;
    font-weight: 2em;
    color:black;
    font-size: 16px;

    
}
.selectionFooter{
    padding-top: 2em;
    height: 2em;
}
.selectionConfirm{

}
.selectionCancel{
    margin-left:1em;
}
.buttonContainer{
    float:right;
}

input[type=checkbox].check1 {
    display:none;
}
/*--------------------------------------------------------------------------------
Creating Checkbox and label as a Single unit(for Cross browser compatibility)
----------------------------------------------------------------------------------*/
/* input[type=checkbox].check1 + label.label1{
    padding-left:35px;
    display:inline-block;
    line-height:30px;
    background-repeat:no-repeat;
    cursor:pointer;
}
input[type=checkbox].check1:checked + label.label1 {
    background-position: 0 -30px;
}
label.label1{
    background-image:url('../images/check1.png');
}  */

.checkboxContainer {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    float:right;
}

.checkboxContainer > span {
    color: #5F6268;
    padding: 0.5rem 0.25rem;
}

.checkboxContainer > input {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid rgb(196, 196, 196);
    outline: none;
    transition-duration: 0.3s;
    background-color: white;
    cursor: pointer;
  }

.checkboxContainer > input:checked {
    /* border: 0px solid black; */
    background-color:#4285F4;
}

.checkboxContainer > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: white;
    position: absolute;
    left: 3px;
    top: 3px;
}

.checkboxContainer > input:active {
    /* border: 2px solid #5F6268; */
}